.detail {
  background-color: #e4e4e4 !important;
  margin-top: -470px;
  min-height: 80vh;
}

.picture {
  justify-content: center;
}

.smallPicture {
  max-height: 200px;
  border-radius: 5px;
}

input[type="file"] {
  display: none;
}

.quota {
  margin-top: -80px;
}
