.profile {
  background-color: #e4e4e4 !important;
  margin-top: -470px;
  min-height: 75vh;
}

.cardProfile {
  width: 100vh;
  min-height: 60vh;
  height: auto;
}

.imageprofile {
  width: 200px;
  border-radius: 5px;
}

.invoice {
  height: 500px;
}

.aprovement {
  width: 90vw; 
  max-width: 90vw;
  height: 90vh;
}
